<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mdn_cookie_consent>
            <global>
                <enabled>1</enabled>
            </global>
            <plugin_options>
                <cookie_name>consent-settings</cookie_name>
                <force_consent>0</force_consent>
                <page_scripts>1</page_scripts>
            </plugin_options>
            <auto_clear_options>
                <enabled>1</enabled>
                <strategy>clear_all_except_defined</strategy>
            </auto_clear_options>
            <consent_modal_options>
                <layout>cloud</layout>
                <position>bottom right</position>
                <secondary_button_role>accept_necessary</secondary_button_role>
                <show_third_button>1</show_third_button>
            </consent_modal_options>
            <settings_modal_options>
                <layout>box</layout>
                <transition>slide</transition>
                <modal_trigger_selector>footer .footer-item</modal_trigger_selector>
            </settings_modal_options>
            <functionality_storage>
                <enabled_by_default>1</enabled_by_default>
                <display_in_widget>1</display_in_widget>
                <readonly>1</readonly>
            </functionality_storage>
            <personalization_storage>
                <enabled_by_default>0</enabled_by_default>
                <display_in_widget>1</display_in_widget>
                <readonly>0</readonly>
            </personalization_storage>
            <security_storage>
                <enabled_by_default>1</enabled_by_default>
                <display_in_widget>1</display_in_widget>
                <readonly>1</readonly>
            </security_storage>
            <ad_storage>
                <enabled_by_default>0</enabled_by_default>
                <display_in_widget>1</display_in_widget>
                <readonly>0</readonly>
            </ad_storage>
            <ad_user_data>
                <enabled_by_default>0</enabled_by_default>
                <display_in_widget>1</display_in_widget>
                <readonly>0</readonly>
            </ad_user_data>
            <ad_personalization>
                <enabled_by_default>0</enabled_by_default>
                <display_in_widget>1</display_in_widget>
                <readonly>0</readonly>
            </ad_personalization>
            <analytics_storage>
                <enabled_by_default>0</enabled_by_default>
                <display_in_widget>1</display_in_widget>
                <readonly>0</readonly>
            </analytics_storage>
        </mdn_cookie_consent>
    </default>
</config>
